[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=e16
TryExec=e16
Name=Enlightenment
Comment=An extremely themable very feature-rich window manager
Comment[nl]=Een zeer rijke en configureerbare window manager
Comment[pl]=Wysoce konfigurowalny zarządca okien o bardzo bogatych możliwościach
Comment[sr]=Изузетно прилагодљив менаџер прозора са пуно могућности
Comment[sv]=En ytterst anpassningsbar mycket funktionsrik fönsterhanterare
# vi: encoding=utf-8
