[Desktop Entry]
Name=Enlightenment
Name[ko]=인라이튼먼트
Exec=enlightenment
TryExec=enlightenment

[Window Manager]
ConfigExec=e-conf
ConfigTryExec=e-conf
SessionManaged=true
# vi: encoding=utf-8
