[Desktop Entry]
Name=Enlightenment
Name[da]=Enlightenment
Name[gl]=Enlightenment
Name[ko]=인라이튼먼트
Name[no]=Enlightenment
Name[pl]=Enlightenment
Name[uk]=Enlightenment
Exec=enlightenment
TryExec=enlightenment

[Window Manager]
ConfigExec=e-conf
ConfigTryExec=e-conf
SessionManaged=true
# vi: encoding=utf-8
